<div class="container">
  <ol class="list-group">
    <% @complete_queue.each do |ep| %>
      <% viewed = ep.viewed? %>
      <li class="list-group-item clearfix <%= viewed ? 'list-group-item-light' : 'list-group-item-success' %>">
        <div class="float-left mx-3">
          <%= image_tag("https://image.tmdb.org/t/p/w92/#{ep.episode.still_path}", class: "rounded-circle img-thumbnail img-responsive", alt: "Tv Show Image") %>
        </div>
        <div>
          <%= "#{ep.episode.tv_show.title} | S#{ep.episode.season}E#{ep.episode.episode_number}" %>
        </div>
        <div class="float-right mx-3">
          <%= link_to "#{viewed ? 'Add to watch' : 'Already watched'}", queued_episodes_toggle_viewed_status_path(queued_episode_id: ep.id), class: "btn btn-primary btn-sm"%>
        </div>
        <div>
          <%= "#{ep.episode.title} | #{ep.episode.airdate}" %>
        </div>
      </li>
    <% end %>
  </ol>
</div>
