<h2><%= @user.email %></h2>
<div class="container">
  <h3>CQ</h3>
  <ol class="list-group">
    <% @complete_queue.each do |ep| %>
      <li class="list-group-item clearfix <%= @user.queued_episodes.find_by(episode_id: ep.id) && @user.queued_episodes.find_by(episode_id: ep.id).viewed? ? 'disabled' : 'list-group-item-success' %>">
        <p> <%= @user.queued_episodes.find_by(episode_id: ep.id).viewed? if @user.queued_episodes.find_by(episode_id: ep.id) %> </p>
        <p>
        <%= "#{ep.episode.title} | #{ep.episode.airdate}" %>
        </p>
        <p>
        <%= "#{ep.episode.tv_show.title} | S#{ep.episode.season}E#{ep.episode.episode_number}" %>
        </p>
      </li>
    <% end %>
  </ol>
</div>
