<div class="container main-container">
<ol class="list-group">
  <% if @full_show_list.empty? %>
    <li class="list-group-item clearfix empty-queue">
      <p>Looks like you're new here!</p>
      <p>TVQueue is here to help you keep track of the television shows you are watching accross multiple networks and streaming services.</p>
      <p>Click on 'Help'<span id="arrow">&#8663;</span></p>
      <p>to learn how to keep track of all the shows you are watching, or</p>
      <p>jump right in by clicking <span id="arrow">&#8659;</span> 'Add a new Show'.</p>
    </li>
  <% else %>
    <li class="list-group-item text-center clearfix <%= @shows_with_new_episodes_ids.empty? ? 'list-group-item-light' : 'list-group-item-success' %>">
      <%= link_to 'Display Episodes For All Shows', queued_episodes_index_path, class: "btn btn-success btn-lg pull-left" %>
      <div class="pull-right form-inline">
        <form>
          <select name="filter" class="form-control">
            <option value="all">All</option>
            <option value="new">New</option>
          </select>

          <select name="sort" class="form-control">
            <option value="titlea">A - Z</option>
            <option value="titled">Z - A</option>
          </select>

          <input type="submit" value="Sort" class="form-control btn btn-primary"/>
        </form>
      </div>
    </li>
    <%= render partial: 'show_detail', collection: @full_show_list, as: :show %>
    <li class="list-group-item text-center clearfix <%= @shows_with_new_episodes_ids.empty? ? 'list-group-item-light' : 'list-group-item-success' %>">
      <%= link_to 'Queue Another Show', tv_shows_search_path, class: "btn btn-success btn-lg" %>
    </li>
  <% end %>
</ol>
</div>
