<div class="container main-container">
  <section class="search-results">
    <header>
      <h1 class="h2 body-text">Results</h1>
    </header>
    <ol class="list-group">
      <% if @potential_show_data.empty? %>
        <li>There are no shows in this search!</li>
      <% else %>
        <% @potential_show_data.each do |show| %>
          <li class="list-group-item clearfix list-group-item-light">
            <div class="pull-left">
              <%= image_tag((show[:poster_path].nil? ? "poster_fallback.png" : "https://image.tmdb.org/t/p/w92/#{show[:poster_path]}"), class: "img-thumbnail img-responsive", alt: "Tv Show Image") %>
            </div>
           <div class="pull-right">
              <% if @user_tv_show_tmdb_ids.include? show[:tmdb_id] %>
              <%= link_to 'In Queue', tv_shows_add_path(show), class: "btn btn-success btn-lg disabled", remote: true %>
              <% else %>
              <%= link_to 'Queue', tv_shows_add_path(show), class: "btn btn-success btn-lg", remote: true %>
              <% end %>
           </div>
            <div class="row search-results-info-row">
              <div class="h3 text-center">
                <%= show[:title] %>
              </div>
              <div class="small text-center">
                <%= show[:first_air_date] %>
              </div>
           </div>
          </li>
        <% end %>
      <% end %>
    </ol>
  </section>
</div>
